{% extends 'blog/base.html' %}
{% block page_area %}
{% load static %}
<style>
    .card img {
        aspect-ratio: 6/1;
        object-fit: cover;
    }
    .card-title {
        margin-bottom: 0.5rem;
    }
    .card-text {
        margin-bottom: 1rem;
    }
    .btn-primary {
        background-color: black;
        border-color: black;
    }
</style>
<body>

  <div class="post_list_main d-flex justify-content-between">
    <div class="post_list_board">
    {% for post in posts %}
    <div class="card" style="width: 60rem;">
        
        {% if post.header_img %}
        <!-- .url : 미디어타입을 url 주소로 변환해서 출력해주는 역할 https:// /media/ ~~~  -->
        <img src="{{ post.header_img.url }}" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'blog/jjanggu.png' %}" class="card-img-top" alt="...">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">by {{ post.author.username }} on {{ post.created_at }}</p>
          <p class="card-text">{{ post.content }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <!-- 카테고리 버튼 -->
              <button type="button" class="btn btn-sm btn-outline-secondary">카테고리</button>
            </div>
            <!-- 더보기 버튼 -->
            <a href="#" class="btn btn-sm btn-primary">더보기</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="post_list_widget">
    {% include 'blog/search_widget.html' %}
    </div>
  </div>
{% endblock %}
