<div style="top:150px" class="col sticky-top">
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요" id="search-input">
                <span class="input-group-btn">
                        <button class="btn btn-dark" type="button" onclick="searchPost();">검색</button>
                    </span>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4" id="categories-card">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">

                <ul>
                    {% for category in categories %}
                        <li>
                            {%  comment %} 
                            category.post_set.count : 
                                장고에서는 ForeignKey로 참조된 데이터가 있을 때 
                                클래스명.참조된테이블_set_count라는 변수로 
                                총 몇개가 가고 있는지를 자동출력해줍니다 
                            {% endcomment %}
                            <a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script>
function searchPost(){
let searchValue = document.getElementById('search-input').value.trim();
if (searchValue.length > 1){
    location.href="/blog/search/" + searchValue + "/";
}
else{
    alert('검색어('+ searchValue +')가 너무 짧습니다.');
}
};

document.getElementById('search-input').addEventListener('keyup', function(event){
if(event.key === 'Enter'){
    searchPost();
}
});
</script>